<nav class="navbar">
    <div class="navbar-container">
      <a href="/" class="navbar-brand">We Shoot</a>
      <button class="collapse-button" (click)="toggleSidebar()" aria-label="Toggle navigation">
        &#9776; <!-- Unicode character for the hamburger menu icon -->
      </button>
      <ul class="navbar-menu" id="navbar-menu">
        <li class="navbar-item">
            <a routerLink="" class="navbar-link">Home</a>
          </li>
          <li class="navbar-item">
            <a routerLink="/gallery" class="navbar-link">Gallery</a>
          </li>
          <li class="navbar-item">
            <a routerLink="/about" class="navbar-link">About Us</a>
          </li>
          <li class="navbar-item">
            <a routerLink="/enquiry" class="navbar-link">Enquiry</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" routerLink="/login">Login</a>
          </li>
      </ul>
    </div>
  </nav>
  <app-sidebar></app-sidebar>
  