<nav class="navbar">
    <div class="navbar-container">
      <a href="" class="navbar-brand">We Shoot</a>
      <ul class="navbar-menu" id="navbar-menu">
        <li class="navbar-item">
          <a routerLink="" class="navbar-link">Home</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/gallery" class="navbar-link">Gallery</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/about" class="navbar-link">About Us</a>
        </li>
        <li class="navbar-item">
          <a href="https://forms.gle/nU4Vh6kx9koAd9Nj7" target="_blank" class="navbar-link">Enquiry</a>
        </li>
        <li class="navbar-item social-icons">
          <a href="https://wa.me/916369613144" target="_blank">
             <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Business" width="25" height="25">
          </a>
        </li>
        <li class="navbar-item social-icons">
          <a href="https://www.instagram.com/weshoot.photo.company/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" width="25" height="25">
          </a></li>
          
      </ul>
      
      <button class="collapse-button" (click)="toggleSidebar()" aria-label="Toggle navigation">
        &#9776; <!-- Unicode character for the hamburger menu icon -->
      </button>
    </div>
  </nav>
  <app-sidebar></app-sidebar>
  