<app-navbar></app-navbar><div class="enquiry-container">
  <h3>Enquiry Form</h3>
    <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="customerName">Name</label>
        <input id="customerName" formControlName="customerName" class="form-control" />
        <div *ngIf="customerName?.invalid && (customerName?.touched || customerName?.dirty)" class="error">
          <div *ngIf="customerName?.errors?.['required']">Name is required.</div>
          <div *ngIf="customerName?.errors?.['minlength']">Name must be at least 3 characters long.</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="customerPhone">Phone Number</label>
        <input id="customerPhone" formControlName="customerPhone" class="form-control" />
        <div *ngIf="customerPhone?.invalid && (customerPhone?.touched || customerPhone?.dirty)" class="error">
          <div *ngIf="customerPhone?.errors?.['required']">Phone number is required.</div>
          <div *ngIf="customerPhone?.errors?.['pattern']">Phone number must be 10 digits long.</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="customerEmail">Email (optional)</label>
        <input id="customreEmail" formControlName="customerEmail" class="form-control" />
        <div *ngIf="customerEmail?.invalid && (customerEmail?.touched || customerEmail?.dirty)" class="error">
          <div *ngIf="customerEmail?.errors?.['customerEmail']">Enter a valid customerEmail.</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="functionDate">Function Date</label>
        <input id="functionDate" type="date" formControlName="functionDate" class="form-control" />
        <div *ngIf="functionDate?.invalid && (functionDate?.touched || functionDate?.dirty)" class="error">
          <div *ngIf="functionDate?.errors?.['required']">Function date is required.</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control"></textarea>
        <div *ngIf="description?.invalid && (description?.touched || description?.dirty)" class="error">
          <div *ngIf="description?.errors?.['required']">Description is required.</div>
          <div *ngIf="description?.errors?.['minlength']">Description must be at least 10 characters long.</div>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="enquiryForm.invalid">Submit</button>
    </form>
  </div>
  