<!--
<div class="about-container">
    <section class="about-section">
      

    
    
    <section class="services-section">
      <h2>Our Services</h2>
      <div class="services-grid">
        <div class="service-card" *ngFor="let service of services">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
        </div>
      </div>
    </section>
  
    <section class="contact-section">
      <h2>Contact Us</h2>
      <p>If you have any questions or would like to book our services, please reach out to us:</p>
      <ul>
        <li>Email: info@weshoot.com</li>
        <li>Phone: +123-456-7890</li>
        <li>Address: 123 Photography Lane, Snap City, CA</li>
      </ul>
    </section>
  </div>
   -->
   <app-navbar></app-navbar>
   <div class="about-container">
    <section class="about-section">
        <h1>About We Shoot</h1 >   
            <p>We Shoot Photo Company is dedicated to capturing your precious moments and turning them into lifelong memories. Whether it's a wedding, corporate event, family gathering, or a solo photoshoot, we are here to provide top-notch photography services tailored to your needs.</p>
             <p>Our team of experienced photographers and editors are passionate about what they do, ensuring that every photo we deliver is of the highest quality.</p>
             <p>Our team of professional photographers specializes in various photography services to meet all your needs.</p>
    </section>
  
    <section class="services-section">
      <h2>Our Services</h2>
      <div class="services-grid">
        <div class="service-card" *ngFor="let service of services">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
        </div>
      </div>
    </section>
  
    <section class="contact-section">
      <h2>Contact Us</h2>
      <p>If you have any questions or would like to book our services, please reach out to us:</p>
      <ul>
        <li>Email: <a href="mailto:weshootphotographyoff@gmail.com">weshootphotographyoff@gmail.com</a></li>
        <li>Phone: <a href="tel:+919363583143">+91 9363583143</a></li>
        <li>Address: Madurai, Tamil Nadu</li>
      </ul>
    </section>
  </div>
  