<app-navbar></app-navbar>
<div class="home-container">
  <div class="header">
    <h1>We Shoot</h1>
    <p>Expert in all kinds of photo-related services</p>
  </div>
  <div class="images-section">
    <img src="assets/images/photo1.jpeg" alt="Photo 1">
    <img src="assets/images/photo2.jpeg" alt="Photo 2">
  </div>
  <div class="about-section">
    <h2>About Us</h2>
    <p>We Shoot Photo Company is dedicated to capturing your precious moments and turning them into lifelong memories. Whether it's a wedding, corporate event, family gathering, or a solo photoshoot, we are here to provide top-notch photography services tailored to your needs.</p>
    <p>Our team of experienced photographers and editors are passionate about what they do, ensuring that every photo we deliver is of the highest quality.</p>
  </div>

  <div class="services-section">
    <h2>Our Services</h2>
    <ul>
      <li>Event PhotoShoot</li>
      <li>Editing</li>
      <li>Photo Frames</li>
      <li>Albums</li>
      <li>Portrait Photography</li>
      <li>Corporate Headshots</li>
      <li>Product Photography</li>
    </ul>
  </div>

  


</div>
